body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f9f9f9;
}

h2 {
  margin: 10px 0;
  color: #333;
}

#map {
  height: 90vh;
  width: 100%;
  border-top: 2px solid #ccc;
}
